@value makerWhite, makerGreen from '../../common/colors.module.css';

.button {
  background-color: makerGreen;
  color: makerWhite;
  font-weight: bold;
  cursor: pointer;
  flex: 1 1 50%;
  font-size: 0.8rem;
  box-sizing: border-box;
}

.button:hover {
  opacity: 0.8;
}
