.container {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 50%;
  height: 100%;
}

.titleContainer {
  display: flex;
  height: 150px;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  color: RGB(65,81,92);
}