.card {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1em;
  margin-bottom: 0.5em;
  padding: 0.2em 0;
  box-shadow: 6px 6px 0 rgba(217, 217, 217, 1);
  max-width: 30rem;
}

.card.dark {
  background-color: black;
  color: white;
}

.card.light {
  background-color: aliceblue;
  color: black;
}

.card.colorful {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,81,121,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
}

.avatar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5rem;
  margin-right: 1em;
  border-radius: 50%;
}

.info {
  width: 100%;
}

.name,
.company,
.title,
.email,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 1.2rem;
}

.company {
  margin-bottom: 1em;
}

.company::after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: wheat;
  transform: translateY(0.5em);
}

.title {

}

.email {

}
.message {

}