.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.titleContainer {
  display: flex;
  height: 120px;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  color: RGB(65,81,92);
}

.cards {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
