@value makerGreen, makerWhite from '../../common/colors.module.css';

.footer {
  height: 15%;
  background-color: makerGreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}

.login {
  height: 10%;
}

.description {
  color: makerWhite;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;

}
