.footer {
  height: 15%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s ease;
}

.login {
  height: 10%;
}

.description {
  font-size: 1.2rem;
  text-align: center;
}